<div class="container">
	<div class="header">
	  <p name="back" onclick="window.location.href = '{{ url_for('index') }}';">x</p>
	  <p name="forward" onclick="window.location.href = '{{ url_for('room_code') }}';">next</p>
	</div>

	<label>ROOMNAME</label>
	<br>
	<input type="text" name="roomName"></input>


	<div class="footer" onclick="window.location.href = '{{ url_for('settings') }}';">
	  <p>Footer</p>
	</div>
	<style>
	.footer {
	    position: fixed;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    background-color: black;
	    color: #00ED94;
	    text-align: center;
	}
	</style>
</div>
