<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>


{% block content %}
<container>
	<div class="header">
	  <p name="back" onclick="window.location.href = '{{ url_for('index') }}';">x</p>
	  <p name="forward" onclick="window.location.href = '{{ url_for('join') }}';">next</p>
	</div>
		<form action="" method="post" novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.username.label }}<br>
				{{ form.username(size=32)}}<br>
				{% for error in form.username.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>{{ form.submit() }}</p>
		</form>		
</container>
{% endblock %}

<style type="text/css">

</style>